{
  "presets": ["react-native-stage-0/decorator-support"],
  "plugins": [],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    },
    "production": {
      "plugins": ["transform-remove-console"]
    }
  }
}
