{
  "presets": ["react-native"],
  "plugins": ["transform-decorators-legacy"],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    },
    "production": {
      "plugins": ["transform-remove-console"]
    }
  }
}
